<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest"
         xmlns:mx="http://schemas.microsoft.com/appx/2013/xbox/manifest"
         IgnorableNamespaces="mx">

  <Identity
    Name="c9941ac4-b1e2-446f-8f1e-9f0a9044d358"
    Version="1.0.0.0"
    Publisher="CN=Hearts" />

  <Properties>
    <DisplayName>durango.hello</DisplayName>
    <PublisherDisplayName>Hearts</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application
      Id="App"
      StartPage="default.html">

      <VisualElements
        DisplayName="durango.hello"
        Logo="images\logo.png"
        SmallLogo="images\smalllogo.png"
        Description="durango.hello"
        ForegroundText="light"
        BackgroundColor="#464646">

        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />

      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
        <mx:Extension Category="xbox.live">
          <mx:XboxLive TitleId="3300A81D" PrimaryServiceConfigId="1ef70100-41f9-49ca-9867-77c23300a81d" RequireXboxLive="true"/>
        </mx:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>

  <Dependencies>
    <PackageDependency Name="Microsoft.Xbox.WinJS.1.0" MinVersion="1.0.0.0" Publisher="CN=Microsoft Windows, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />
  </Dependencies>

  <Extensions>
    <mx:PackageExtension Category="windows.kinect">
      <mx:Kinect IsVersionLocked="false">
        <mx:AudioPipeline Version="1.14.8" />
        <mx:SpeechPipeline Version="1.14.8" />
        <mx:VisionPipeline Version="1.14.8" />
      </mx:Kinect>
    </mx:PackageExtension>
          <Extension Category="windows.activatableClass.inProcessServer">
            <InProcessServer>
                <Path>HlsBy3ivx.dll</Path>
                <ActivatableClass ActivatableClassId="HlsBy3ivx.HlsByteStreamHandler" ThreadingModel="both" />
                <ActivatableClass ActivatableClassId="HlsBy3ivx.HlsSchemeHandler" ThreadingModel="both" />
        </InProcessServer>
      </Extension>  </Extensions>

</Package>
